<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Bluetooth permissions for all Android versions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- This permission is necessary for Bluetooth discovery on Android versions prior to Android 6 (API level 23) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- For Android 12 (API level 31) and above, explicit Bluetooth permissions are required -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:label="flutter_application_1"
        android:icon="@mipmap/ic_launcher"
        android:name="${applicationName}">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Meta-data tag for specifying the Flutter embedding version -->
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
        </activity>
        <!-- Specify any additional activity, service declarations, and other components here -->
    </application>
</manifest>
